.category {
  padding: 15px 15px 0 22px;
}

.category .add_category {
  background: #6EC1E4 !important;
}

.category button {
  float: right;
}

.add_category {
  margin: 10px;
}

.table_responsive {
  width: 100%;
  margin-top: -30px;
}

.text-center{
  text-align: center;
}

.table_header {
  font-size: 18px;
  color: white;
}
