<app-header></app-header>
<div class="about-us-heading">
  <img src="./assets/about.jpeg">
  <h1>Learn about Morita Suppliers and how we operate.</h1>
</div>
<div class="content-body-below-about-us">
  <div class="about-us-body">
    <div class="about-us-paragraph">
      <h1> About Morita Suppliers</h1>
      <p>Morita Suppliers is a company that provides with high quality mattress and sofas for home decor that fits our live today.
        London city renters move on average every 1-2 years.
        Tastes evolve, living arrangements change, budgets fluctuate, and many can’t afford or don’t want to commit to quality furniture so they end up resorting to cheaper alternatives that aren’t built to last.
        As a result, 20 billion pounds of furniture end up in landfills annually (that’s about the same amount of plastic that ends up in the oceans every year).
        This pattern isn’t sustainable.</p>
    </div>

<div class="about-us-paragraph">
  <h1>Our benefits</h1>
  <p>We believe furniture shouldn’t involve so much compromise. Affordable and well-made.
    Convenient and sustainable. Smart and stylish.
    We provide all these things in much reasonable price.
    We built a more responsible approach to furniture, one that’s grounded in rental, reuse, and refurbishment.
    There’s still a lot of work to be done, but we’re proud to be offering a more circular approach and helping a new generation of renters create homes they love even when life is in motion.</p>

</div>

<div class="about-us-paragraph">
  <h1>Our delivery system</h1>
  <p>When you buy a furniture from us we measure the distance and address to where the furniture needs to be delivered. If the purchase is made within the two hours range from our warehouse we will be able to deliver the furniture with in the same day.
    If it is far away from us or not from london it might take a day or two with increased delivery fare or else no delivery will be possible. Our system will calculate if delivery is possible or not.
    Also for huge amount of purchase delivery will not be possible.
  </p>
</div>

  </div>
</div>

<app-footer></app-footer>
