<div class="header" [ngClass]="hasShadow" #header>
  <ul class="header-navigation navigation-left">
    <div>
      <button mat-icon-button class="showHideButton marginMenuBtn">
        <mat-icon (click)="toggleMenu('menu')">menu</mat-icon>
      </button>
    </div>
    <div class="col-md-2 hideShowMenuItems">
      <li class="nav-list">

        <p class="nav-text">Matress</p>
      </li>
    </div>
    <div class="col-md-2 hideShowMenuItems">
      <li class="nav-list">
        <p class="nav-text sofas">Sofas</p>
      </li>
    </div>
    <div class="col-md-2 hideShowMenuItems">
      <li class="nav-list">
        <p class="nav-text why-us">Why us?</p>
      </li>
    </div>
    <div class="col-md-5 flexLogoItem">
      <p>THe Logo goes here for morita suppliers</p>
    </div>
    <div class="delivery-btn hideShowMenuItems">
      <button (click)="openDelivery()" mat-raised-button class="delivery_button_header">
        <!-- <mat-icon aria-hidden="false" aria-label="Location">location_searching</mat-icon> -->
        Check if We Deliver
      </button>
    </div>
    <div class="col-md-2 flexSearchItem">
      <li class="nav-list">
        <mat-icon class="nav-text search" (click)="goToNav('search')" *ngIf="show">search</mat-icon>
        <p class="nav-text search" (click)="goToNav('search')">Search</p>
      </li>
    </div>
    <div [classList]="accountClass">
      <li class="nav-list">
        <p *ngIf="!isLoggedIn" class="nav-text account">Account</p>
        <p *ngIf="isLoggedIn && isAdmin" (click)="goToNav('admin')" class="nav-text">Dashboard</p>
        <mat-icon *ngIf="isLoggedIn && !isAdmin" aria-hidden="false" class="account-info account" aria-label="Account">
          person_pin</mat-icon>
      </li>
    </div>
    <div class="col-md-2 flexCheckoutItem">
      <li class="nav-list">
        <mat-icon matBadge="15" matBadgeColor="warn" (click)="goToNav('cart')" aria-hidden="false" class="checkout-cart"
          aria-label="Shopping Cart">shopping_cart</mat-icon>
      </li>
    </div>
  </ul>

  <div [ngClass]="headerClassWhyUs" class="subheading">
    <div class="col-md-2"></div>
    <div class="subheader_first_nav_item col-md-3">
      <div class="subheader how-it-works col-md-5">
        <p class="subheader_text how-it-works-text" (click)="goToNav('how-it-works')">How it works</p>
      </div>
      <div class="subheader about-us col-md-5">
        <p class="subheader_text about-us-text" (click)="goToNav('about-us')">About Us</p>
      </div>
      <div class="subheader faqs col-md-5">
        <p class="subheader_text faqs-text" (click)="goToNav('faqs')">FAQs</p>
      </div>
      <div class="subheader reviews col-md-5">
        <p class="subheader_text reviews-text" (click)="goToNav('reviews')">Reviews</p>
      </div>
    </div>

    <div class="subheader_second_nav_item" *ngFor="let item of whyUs">
      <img class="img_info" [src]="item.image" />
      <p class="subheader_text {{item.navigate}}-text" (click)="goToNav(item.navigate)">{{item.title}}<mat-icon
          aria-hidden="false" class="arrow_icon" aria-label="Arrow Right">arrow_right_alt</mat-icon>
      </p>
    </div>

  </div>

  <div [ngClass]="headerClassAccount" class="subheading">
    <div class="col-md-8">

    </div>
    <div class="col-md-4 login_subheader" *ngIf="!isLoggedIn">
      <button mat-raised-button class="header_login_button" (click)="goToNav('login')" color="primary">Login</button>
      <button mat-raised-button class="header_register_button" (click)="goToNav('register')">Activate Account</button>
    </div>
    <div class="col-md-4 login_subheader" *ngIf="isLoggedIn && !isAdmin">
      <button mat-raised-button class="header_button_blue" (click)="goToNav('profile')" color="primary">
        <mat-icon aria-hidden="false" aria-label="Profile">person</mat-icon>
        My Profile
      </button>
      <button mat-raised-button class="header_button_white" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>
        Logout
      </button>
    </div>

  </div>
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <button mat-icon-button>
        <mat-icon (click)="onCancelMenu('cancel')" [ngStyle]="{'color':'rgb(233 103 43'}">cancel
        </mat-icon>
      </button>
      <ul>
        <li>
          Mattress
        </li>
        <li>
          Sofas
        </li>
        <li (click)="goToNav('how-it-works')">
          How it works?
        </li>
        <li (click)="goToNav('about-us')">
          About us
        </li>
        <li (click)="goToNav('faqs')">
          FAQs
        </li>
        <li (click)="goToNav('reviews')">
          Reviews
        </li>
        <li>
          Account
        </li>
      </ul>

    </div>
  </div>
</div>