<app-header></app-header>
<div class="content-body-below">
  <div class="how-it-works-heading">
    <h1>Create a home you love with Morita Suppliers</h1>
  </div>
<div class="col-md-12 row listings">
  <div class="how-it-works-lists col-md-3">
    <img src="./assets/sofas.jpeg">
    <p>1.Choose your matress and sofas</p>
  </div>
  <div class="how-it-works-lists col-md-3">
    <img src="./assets/matress.jpeg">
    <p>2.Decide if you want to buy or not</p>
  </div>
  <div class="how-it-works-lists col-md-3">
    <img src="./assets/delivery.jpeg">
    <p>3.Get your item delivered and assembled</p>
  </div>
  <div class="how-it-works-lists col-md-3">
    <img src="./assets/beautiful.jpeg">
    <p>4.Experience beautiful furnitures</p>
  </div>
</div>

<div class="col-md-12 row how-it-works-block">
  <div class="col-md-6">
    <div class="how-it-works-heading-description">
      <h1>1. Choose your matress and sofas</h1>
      <p>Choose from different items (including decor) curated for an easy shopping experience.</p>
    </div>
  </div>
  <div class="col-md-6 how-it-works-list">
    <img src="./assets/sofa-matress.jpeg">
  </div>
</div>

<div class="col-md-12 row how-it-works-block">
  <div class="col-md-6 how-it-works-list left-side">
    <img src="./assets/decision.jpeg">
  </div>
  <div class="col-md-6">
    <div class="how-it-works-heading-description">
      <h1>2. Decide if you want to buy or not</h1>
      <p>Furniture is priced clearly to buy. Our furniture is UK compliance.</p>
    </div>
  </div>

</div>
<div class="col-md-12 row how-it-works-block">
  <div class="col-md-6">
    <div class="how-it-works-heading-description">
      <h1>3. Get your item delivered and assembled</h1>
      <p>No stress, no sweat! We'll take care of it all, and always do our best to work with your schedule.</p>
      <p>We only deliver around 2 hours drive around london and the delivery cost is extra than the purchased furniture</p>
    </div>
  </div>
  <div class="col-md-6 how-it-works-list">
    <img src="./assets/assemble.jpeg">
  </div>
</div>
<div class="col-md-12 row how-it-works-block">
  <div class="col-md-6 how-it-works-list left-side">
    <img src="./assets/decor.jpeg">
  </div>
  <div class="col-md-6">
    <div class="how-it-works-heading-description">
      <h1>4. Experience beautiful furnitures</h1>
      <p>Instantly transform any four walls into a home you love without lifting a finger.</p>
    </div>
  </div>
</div>
</div>


<app-footer></app-footer>
