<app-header></app-header>
<div class="forgot-section">
  <div class="forgot_heading">
    <h1>Need Help Signing In</h1>
    </div>
  <div class="forgot_body col-md-4">
    <p>Enter the email address associated with your account. Remember your Morita account can only be linked to the email you checked out with. We will send you an email with a link to verify your account and reset your password.</p>
  </div>
  <div class="forgot_form">
    <mat-form-field class="login-field col-md-8" appearance="outline">
      <mat-label>Enter your Email</mat-label>
      <input matInput type="email">
    </mat-form-field>
  </div>
  <div class="forgot_button_field col-md-2">
    <button disabled mat-raised-button class="forgot_button">Submit</button>
  </div>
</div>


